<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<link rel="stylesheet" href="../css/bootstrap.css">
	<link rel="stylesheet" href="../layui/css/layui.css"  media="all">
	<script src="../layui/layui.js" charset="utf-8"></script>
	<script src="../js/jquery-3.2.1.js"></script>
	<script src="../js/bootstrap.js"></script>
	<script src="../js/underscore.js"></script>
	<script src="../js/moment.min.js"></script>
	<title>设置密码</title>
</head>
<body>
	<% include ../header.ejs %>
	<div class="container" style="margin-top: 60px">
	  	<% include userdaohang.ejs %>
	  	<div class="col-lg-6">
		
		<form class="layui-form" action="">
		<ul class="list-group">
		<a href="#" class="list-group-item active">
				   修改密码
				  </a>
		</ul>
		  <div class="layui-form-item">
		    <label class="layui-form-label">新密码</label>
		    <div class="layui-input-inline">
		      <input type="password" name="passworda" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
		    </div>
		  </div>
		   <div class="layui-form-item">
		    <label class="layui-form-label">确认密码</label>
		     <div class="layui-input-inline">
		      <input type="password" name="passwordb" required  lay-verify="required" placeholder="请输入密码" autocomplete="off" class="layui-input">
		    </div>
		  </div>
		  <div class="layui-form-item">
		    <div class="layui-input-block">
		      <button class="layui-btn" lay-submit lay-filter="formDemo">立即提交</button>
		      <button type="reset" class="layui-btn layui-btn-primary">重置</button>
		    </div>
		  </div>
		</form>
		</div>
	</div>

</body>
<style>
	.layui-form-label{
		width: 100px;
	}
</style>
<script>
	layui.use('form', function(){
	  var form = layui.form;
	  //监听提交
	  form.on('submit(formDemo)', function(data){
	  	console.log(data.field);
	    if(data.field.passworda==data.field.passwordb){

           layer.msg('成功');
	    $.post('/dopasword',{
			        "password":data.field.passwordb,
		},function(result){
			if(result=='1'){
				  layer.msg('成功');

			}else{
				alert('失败')
			}

		})
		 }else{
		 	layer.msg('两次输入不同');
		 }
	    return false;
	  });
  });
</script>
</html>